<div style="position: fixed; top: 0; margin-top: 100px; z-index:10;">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
</div>

<div *ngFor="let mEvent of stats" class="event-main">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ mEvent.name }} - (event id: {{mEvent.e_id}})</h4>
      <h6 class="card-subtitle mb-2 text-muted">Artist(s): {{ mEvent.artists }}</h6>
      <p class="card-text"><b>Event description:</b> {{ mEvent.description }}</p>
      <p class="card-text">Total cost: <b>{{mEvent.cost}} $</b></p>
      <h5>Shows:</h5>
      <div *ngFor="let event of mEvent?.events" class="event">
        <p>{{ event.starts }} - {{ event.ends }}, venue: {{ event.venue }}</p>
        <h6>Tickets sold:</h6>
        <p>Class 1: {{event.class_1}} / {{event.capacity_1}}, Class 2: {{event.class_2}} / {{event.capacity_2}}, Class 3: {{event.class_3}} / {{event.capacity_3}}</p>
        <p>Total: {{event.class_1 + event.class_2 + event.class_3}} / {{event.capacity_1 + event.capacity_2 + event.capacity_3}}</p>
      </div>
    </div>
    <div class="card-footer">
      <p>Total profit atm: <b>{{mEvent.profit - mEvent.cost}} $</b> (profit: {{mEvent.profit}} $, cost: {{mEvent.cost}} $)</p>
      <p>Potential profit: <b>{{mEvent.potential - mEvent.cost}} $</b> (potential: {{mEvent.potential}} $)</p>
    </div>
  </div>
  <div style="margin-top: 20px"></div>
</div>
