<div style="position: fixed; top: 0; margin-top: 100px; z-index:10;">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
</div>

<div *ngFor="let mEvent of stats" class="event-main">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ mEvent.name }} - ({{mEvent.e_id}})</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ mEvent.artists }}</h6>
      <p class="card-text">{{ mEvent.description }}</p>
      <p class="card-text">Total cost: {{mEvent.cost}}</p>
      <div *ngFor="let event of mEvent?.events" class="event">
        <h6 class="card-subtitle mb-2 text-muted">{{ event.starts }} - {{ event.ends }} || {{ event.venue }}</h6>
        <h3>Tickets sold:</h3>
        <p>Class 1: {{event.class_1}} / {{event.capacity_1}}, Class 1: {{event.class_2}} / {{event.capacity_2}}, Class 1: {{event.class_3}} / {{event.capacity_3}}</p>
        <p>Total: {{event.class_1 + event.class_2 + event.class_3}} / {{event.capacity_1 + event.capacity_2 + event.capacity_3}}</p>
      </div>
    </div>
    <div class="card-footer">
      <p>Total profit atm: {{mEvent.profit - mEvent.cost}}</p>
      <p>Potential profit: {{mEvent.potential - mEvent.cost}}</p>
    </div>
  </div>
  <div style="margin-top: 20px"></div>
</div>
