<ngb-tabset type="pills">
  <ngb-tab title="Login">
    <ng-template ngbTabContent>
      <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="login-username">Username</label>
          <input type="text" class="form-control" id="login-username" placeholder="Enter username" [(ngModel)]="login.username" name="loginUsername" #loginUsername="ngModel">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" id="login-password" placeholder="Password" [(ngModel)]="login.password" name="loginPassword" #loginPassword="ngModel">
        </div>
        <button type="submit" class="btn btn-default">Sign in!</button>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Register</b></ng-template>
    <ng-template ngbTabContent>
      <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
        <div class="form-group">
          <label for="register-username">Username</label>
          <input type="text" class="form-control" id="register-username" placeholder="Enter username" [(ngModel)]="register.username" name="registerUsername" #registerUsername="ngModel">
        </div>
        <div class="form-group">
          <label for="register-password">Password</label>
          <input type="password" class="form-control" id="register-password" placeholder="Password" [(ngModel)]="register.password" name="registerPassword" #registerPassword="ngModel">
        </div>
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" id="first_name" placeholder="First name" [(ngModel)]="register.first_name" name="firstName" #firstName="ngModel">
        </div>
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" class="form-control" id="last_name" placeholder="Last name" [(ngModel)]="register.last_name" name="lastName" #lastName="ngModel">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone" [(ngModel)]="register.phone" name="phone" #phone="ngModel">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>