<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle><b>My events</b></ng-template>
    <ng-template ngbTabContent>
      <h2>My events</h2>
      <div class="event-unit" *ngFor="let event of events">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{ event.event }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ event.starts }} || {{event.venue}}</h6>
            <h6 class="card-subtitle mb-2">1. class tickets: <strong>{{ event.class_1 }}</strong>, 2. class tickets: <strong>{{ event.class_2 }}</strong>, 3. class tickets: <strong>{{ event.class_3 }}</strong></h6>
          </div>
        </div>
        <div style="margin-top: 20px"></div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Edit profile">
    <ng-template ngbTabContent>
      <form (ngSubmit)="onProfileSubmit()" #profileForm="ngForm">
        <input type="hidden" id="user_id" [(ngModel)]="profile.user_id" name="user_id" #user_id="ngModel">
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" id="first_name" placeholder="First name" [(ngModel)]="profile.first_name" name="first_name" #first_name="ngModel">
        </div>
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" class="form-control" id="last_name" placeholder="Last name" [(ngModel)]="profile.last_name" name="last_name" #last_name="ngModel">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone" [(ngModel)]="profile.phone" name="phone" #phone="ngModel">
        </div>
        <div class="form-group">
          <label for="group">User group</label>
          <select class="form-control" id="group" [(ngModel)]="profile.group" name="group" #group="ngModel">
            <option>admin</option>
            <option>employee</option>
            <option>client</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Update profile!</button>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Logout</ng-template>
    <ng-template ngbTabContent>
      <button type="button" (click)="logout()" class="btn btn-danger btn-lg">Logout from Mukaan!</button>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
